@if (!string.IsNullOrEmpty(HeaderText))
{
	<PageTitle>@HeaderText</PageTitle>

	<header class="card p-2 mb-6 shadow-md">

		@switch (Level)
		{
			case "1":
				<h1 class="text-2xl">@HeaderText</h1>
				break;
			case "2":
				<h2 class="text-xl">@HeaderText</h2>
				break;
			case "3":
				<h3 class="text-lg">@HeaderText</h3>
				break;
			case "4":
				<h4 class="text-base">@HeaderText</h4>
				break;
			case "5":
				<h5 class="text-sm">@HeaderText</h5>
				break;
		}

		@if (!string.IsNullOrEmpty(Description))
		{
			<p class="mt-1 text-base text-primary-800 dark:text-primary-50">@Description</p>
		}

	</header>
}

@code {

	[Parameter] public string? HeaderText { get; set; } = "Issue Tracker";

	[Parameter] public string? Description { get; set; } = "";

	[Parameter] public string Level { get; set; } = "1";

}
